footer.site-footer {
  border-top: 1px solid #eee;

  .wrapper {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 800px;

    display: flex;
    color: #aaa;

    a {
      @include underline-link(#777);
    }
  }
}
