code {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

div.highlighter-rouge { // Code blocks
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;

  font-size: 12px;
  line-height: 20px;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .highlight {
    margin: 0;
  }
}

code.highlighter-rouge { // Inline code
  font-size: 0.8em;
  padding: 1px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f5f5f5;
  color: #111;
}

// Based on: https://github.com/richleland/pygments-css/blob/master/colorful.css

.highlight .nf { color: #6f42c1 } /* `foo` in `bar::foo()` */


// .highlight .hll { background-color: #ffffcc }
// .highlight { background: #ffffff; }
.highlight .c { color: #6a737d } /* Comment */
//.highlight .err {} /* Error */
.highlight .k { color: #d73a49; } /* Keyword */
.highlight .o { color: #d73a49 } /* Operator */
// .highlight .ch { color: #6a737d } /* Comment.Hashbang */
// .highlight .cm { color: #6a737d } /* Comment.Multiline */
// .highlight .cp { color: #557799 } /* Comment.Preproc */
// .highlight .cpf { color: #6a737d } /* Comment.PreprocFile */
// .highlight .c1 { color: #6a737d } /* Comment.Single */
// .highlight .cs { color: #cc0000; } /* Comment.Special */
// .highlight .gd { color: #A00000 } /* Generic.Deleted */
// .highlight .ge { font-style: italic } /* Generic.Emph */
// .highlight .gr { color: #FF0000 } /* Generic.Error */
// .highlight .gh { color: #000080; } /* Generic.Heading */
// .highlight .gi { color: #00A000 } /* Generic.Inserted */
// .highlight .go { color: #6a737d } /* Generic.Output */
// .highlight .gp { color: #c65d09; } /* Generic.Prompt */
// .highlight .gs { } /* Generic.Strong */
// .highlight .gu { color: #800080; } /* Generic.Subheading */
// .highlight .gt { color: #0044DD } /* Generic.Traceback */
// .highlight .kc { color: #d73a49; } /* Keyword.Constant */
// .highlight .kd { color: #d73a49; } /* Keyword.Declaration */
// .highlight .kn { color: #d73a49; } /* Keyword.Namespace */
// .highlight .kp { color: #003388; } /* Keyword.Pseudo */
// .highlight .kr { color: #d73a49; } /* Keyword.Reserved */
// .highlight .kt { color: #333399; } /* Keyword.Type */
// .highlight .m { color: #6600EE; } /* Literal.Number */
// .highlight .s {} /* Literal.String */
// .highlight .na { color: #0000CC } /* Name.Attribute */
.highlight .nb { color: #d73a49 } /* Name.Builtin */

.highlight .n { color: #6f42c1 } /* Name */
.highlight .nc { color: #6f42c1; } /* Name.Class */
.highlight .no { color: #6f42c1; } /* Name.Constant */
.highlight .nd { color: #6f42c1; } /* Name.Decorator */
.highlight .ni { color: #6f42c1; } /* Name.Entity */
.highlight .ne { color: #6f42c1; } /* Name.Exception */
.highlight .nf { color: #6f42c1; } /* Name.Function */
.highlight .nl { color: #6f42c1; } /* Name.Label */
.highlight .nt { color: #6f42c1 } /* Name.Tag */
.highlight .nv { color: #d73a49  } /* Name.Variable */

// .highlight .ow { color: #000000; } /* Operator.Word */
// .highlight .w { color: #bbbbbb } /* Text.Whitespace */
// .highlight .mb { color: #6600EE; } /* Literal.Number.Bin */
// .highlight .mf { color: #6600EE; } /* Literal.Number.Float */
// .highlight .mh { color: #005588; } /* Literal.Number.Hex */
// .highlight .mi { color: #0000DD; } /* Literal.Number.Integer */
// .highlight .mo { color: #4400EE; } /* Literal.Number.Oct */
// .highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
// .highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
// .highlight .sc { color: #0044DD } /* Literal.String.Char */
// .highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
// .highlight .sd { color: #DD4422 } /* Literal.String.Doc */
// .highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
// .highlight .se { color: #666666;; background-color: #fff0f0 } /* Literal.String.Escape */
// .highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
// .highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
// .highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
// .highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
// .highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
// .highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
// .highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
// .highlight .fm { color: #0066BB; } /* Name.Function.Magic */
// .highlight .vc { color: #336699 } /* Name.Variable.Class */
// .highlight .vg { color: #dd7700; } /* Name.Variable.Global */
// .highlight .vi { color: #3333BB } /* Name.Variable.Instance */
// .highlight .vm { color: #d73a49  } /* Name.Variable.Magic */
// .highlight .il { color: #0000DD; } /* Literal.Number.Integer.Long */
