cargo-features = ["edition"]

[package]
name = "futures-util-preview"
edition = "2018"
version = "0.3.0-alpha.2"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/rust-lang-nursery/futures-rs"
homepage = "https://rust-lang-nursery.github.io/futures-rs"
documentation = "https://rust-lang-nursery.github.io/futures-doc/0.3.0-alpha.2/futures_util"
description = """
Common utilities and extension traits for the futures-rs library.
"""

[lib]
name = "futures_util"

[features]
std = ["futures-core-preview/std", "futures-io-preview/std", "futures-sink-preview/std", "either/use_std", "slab"]
default = ["std", "futures-core-preview/either", "futures-sink-preview/either"]
compat = ["std", "futures"]
tokio-compat = ["compat", "tokio-executor"]
bench = []
nightly = []

[dependencies]
futures-core-preview = { path = "../futures-core", version = "0.3.0-alpha.2", default-features = false }
futures-channel-preview = { path = "../futures-channel", version = "0.3.0-alpha.2", default-features = false }
futures-io-preview = { path = "../futures-io", version = "0.3.0-alpha.2", default-features = false }
futures-sink-preview = { path = "../futures-sink", version = "0.3.0-alpha.2", default-features = false}
either = { version = "1.4", default-features = false }
slab = { version = "0.4", optional = true }
futures = { version = "0.1", optional = true }
tokio-executor = { version = "0.1.2", optional = true }

[dev-dependencies]
futures-preview = { path = "../futures", version = "0.3.0-alpha.2" }
futures-executor-preview = { path = "../futures-executor", version = "0.3.0-alpha.2" }
# futures-channel = { path = "../futures-channel", version = "0.2.0" }
