[package]
name = "futures-executor"
version = "0.2.0"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/alexcrichton/futures-rs"
homepage = "https://github.com/alexcrichton/futures-rs"
documentation = "https://docs.rs/futures-core"
description = """
Executors for asynchronous tasks based on the futures-rs library.
"""

[features]
std = ["futures-core/std", "futures-util/std", "futures-channel/std"]
default = ["std"]

[dependencies]
futures-core = { path = "../futures-core", version = "0.2.0", default-features = false}
futures-util = { path = "../futures-util", version = "0.2.0", default-features = false}
futures-channel = { path = "../futures-channel", version = "0.2.0", default-features = false}
num_cpus = "1.0"

[dev-dependencies]
futures = { path = "../futures", version = "0.2", default-features = false }
futures-channel = { path = "../futures-channel", version = "0.2", default-features = false }
