name: Release

on:
  push:
    tags:
      - '[0-9]+.*'

jobs:
  create-release:
    if: github.repository_owner == 'rust-lang'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          branch: 'master|[0-9]+\.[0-9]+'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
