name: Release

on:
  push:
    tags:
      - '[0-9]+.*'

env:
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: 1

jobs:
  create-release:
    if: github.repository_owner == 'rust-lang'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: rustup update stable
      - run: cargo build --all
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          branch: 'master|[0-9]+\.[0-9]+'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
